@import "tailwindcss";

@theme {
  --color-ezgreen: #48d14d;
  --color-ezred: #d34848;
  --color-ezblue: #5296f0;
  --color-ezgray: #adadad;

  --font-display: 'Times New Roman', sans-serif;
}

@layer base {
  body {
    background-color: white;
  }
  
  h1 {
    @apply font-bold text-3xl p-5
  }

  h3 {
    @apply text-2xl font-bold w-screen
  }
  h1, h2, h3, h4, h5, label, input {
    color: black;
  }

  input {
    @apply py-1 px-2 w-full bg-white rounded-sm border-1 font-bold text-xl text-ezblue
  }

  button {
    @apply border-1 bg-ezblue text-white border-ezblue p-2 text-lg rounded-md
  }

  label {
    @apply text-lg mb-2 w-full
  }
  a {
    @apply no-underline text-white hover:text-white
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {
  .form-header {
    @apply text-xl font-bold w-full mb-2 p-0
  }
  
  .gray-container {
    @apply flex flex-wrap justify-start border-2 border-ezgray bg-gray-200 p-5 rounded-xl gap-x-5 gap-y-1 w-3/4 h-3/4
  }
}


